#topHeader {
  font-family: 'Rubik Dirt', cursive;
  font-size: 30px;
  text-align: center;
  color: navy
}
#splashTitle {
  font-family: 'Rubik Dirt', cursive; 
  font-size: 2rem;
  color: navy;
}
.splashContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 66vh;
}

.playButton {
  background-color: crimson;
  padding: .5em 1em;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: .2em;
  color: bisque;
}
.battleshipPic{
  position: absolute;
  width: 50%;
  left: 30vw;
}

.container {
  display: flex;
  margin: 10px;
}
.gridPlayer {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10,10%);
  flex-wrap: wrap;
  background-color: #006994;
  margin-right: 10px;
}
.gridEnemy {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10,10%);
  flex-wrap: wrap;
  background-color: #005EB8;
}
.cell, .cellEnemy {
  border: solid 0.5px;
}